<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
    
                
                <h2 class="mt-5">CAMERA APP by Hemanth Nag</h2>
                <form method="post" action="{{ url_for('tasks') }}">
                <input type="text" name="identefier" required/>
                <input type="submit" value="Capture" name="click"/>
                </form>
                <img src="{{ url_for('video_feed') }}" height="80%">

                <h1>{{wrong}}</h1>

                

            </div>
        </div>
    </div>
    </body>
</html>